.div{
    height: 80px;
    width: 1520px;
    background-color:darkgoldenrod;
}
.searchbox {  
    top: 10px;
    left: 760px;
      
}  
input[type=text] { 
    width: 780px; 
    padding: 6px;
    margin-top: 23px;
    margin-left: 300px;
    font-size: 17px;
    border: none;  
}  
.searchbox button {  
    padding: 4px;  
    margin-top: 23px;  
    margin-left: 10px;  
    background: darkgoldenrod;  
    font-size: 20px;
    color: aliceblue;  
    border: none;  
    cursor: pointer;  
}  
.searchbox button:hover {  
    background: rgb(255, 208, 0);  
}
.profile{
    position: absolute;
    top: 33px;
    left: 1375px;
    border-radius: 5px;
    background-color: rgb(31, 23, 3);
    width: 120px;
    height: 30px;
    align-self: center;
} 
.admin_name{
    position: absolute;
    top: -32px;
    left: -7px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
    margin: 20px 10px;
    white-space: nowrap;
    padding: 20px 10px 10px 15px;
}
.sidebar{
    position: absolute;
    top: 96px;
    left: 9px;
    background-color: darkgoldenrod;
    height: 1068px;
    width: 206px;
}
.complain0{
    position: absolute;
    top: 463px;
    left: 225px;
    background-color: brown;
    height: 225px;
    width: 316px;
}
.complain1{
    position: absolute;
    top: 463px;
    left: 553px;
    background-color: brown;
    height: 225px;
    width: 320px;
}
.complain2{
    position: absolute;
    top: 463px;
    left: 886px;
    background-color:brown;
    height: 225px;
    width: 318px;

}
.complain3{
    position: absolute;
    top: 463px;
    left: 1217px;
    background-color: brown;
    height: 225px;
    width: 316px;
}
.complain4{
    position: absolute;
    top: 701px;
    left: 225px;
    background-color: brown;
    height: 225px;
    width: 316px;
}
.complain5{
    position: absolute;
    top: 701px;
    left: 553px;
    background-color: brown;
    height: 225px;
    width: 320px;
}
.complain6{
    position: absolute;
    top: 701px;
    left: 886px;
    background-color: brown;
    height: 225px;
    width: 318px;
}
.complain7{
    position: absolute;
    top: 701px;
    left: 1217px;
    background-color: brown;
    height: 225px;
    width: 316px;
}
.complain8{
    position: absolute;
    top: 939px;
    left: 225px;
    background-color:brown;
    height: 225px;
    width: 316px;
}
.complain9{
    position: absolute;
    top: 939px;
    left: 553px;
    background-color:brown;
    height: 225px;
    width: 320px;
}
.complaina{
    position: absolute;
    top: 939px;
    left: 886px;
    background-color:brown;
    height: 225px;
    width: 318px;
}
.complainb{
    position: absolute;
    top: 939px;
    left: 1217px;
    background-color:brown;
    height: 225px;
    width: 316px;
}
.img{
    position: absolute;
    top: 97px;
    left: 225px;
    height: 348px

}
/* .profile-details{
    align-items: center;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    height: 25px;
    width: 110px;
    padding: 2 15px 0 2px;
    top: 10px;
    left: 760px;
}
.profile-details img{
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
}
.profile-details i{
    font-size: 25px;
    color: #333;
} */
